@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: #eebe5e;
  border: 4px solid transparent;
  border-radius: 11px;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgb(91, 153, 114) 0%,
    rgb(98, 159, 110) 50%,
    #355849 100%
  );
  border-radius: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #355849;

  background: linear-gradient(
      180deg,
      rgb(91, 153, 114) 0%,
      rgb(98, 159, 110) 50%,
      #355849 100%
    ),
    url("/snow_ol.png");
  background-attachment: fixed;
  background-blend-mode: overlay;
}

/* h1 {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
