@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: gold;
  border: 4px solid transparent;
  border-radius: 11px;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 15px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(181, 181, 181);
}

h1 {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aurora-override {
  filter: hue-rotate(60deg) blur(16px);
}
