@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: #eebe5e;
  border: 4px solid transparent;
  border-radius: 11px;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgb(91, 153, 114) 0%,
    rgb(98, 159, 110) 50%,
    #355849 100%
  );
  border-radius: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #355849;

  background: linear-gradient(
      180deg,
      rgb(91, 153, 114) 0%,
      rgb(98, 159, 110) 50%,
      #355849 100%
    ),
    url("/snow_2.png");
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
}

/* h1 {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-overlay__caption {
  background-color: rgba(184, 157, 3, 0.5);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 2px;
  font-size: 90%;
}
.custom-overlay__tag {
  word-wrap: break-word;
  display: inline-block;
  background-color: white;
  height: auto;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 0.25em;
  color: black;
  vertical-align: baseline;
  margin: 2px;
}
