.hero {
  border-bottom: 4px solid gold;
}

.heroVid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  filter: saturate(2);
}

.heroLogo {
  position: absolute;
  bottom: 2%;
  left: 0;
  z-index: 5;
  opacity: 0;
  animation: fadeIn 5s ease-in 2.75s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
