.hero {
  /* border-bottom: 4px solid gold; */
  height: 90vh;
  /* width: 100%; */
  overflow: hidden;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
      to right,
      #a2682a 0%,
      #be8c3c 8%,
      #be8c3c 18%,
      #d3b15f 27%,
      #faf0a0 35%,
      #ffffc2 40%,
      #faf0a0 50%,
      #d3b15f 58%,
      #be8c3c 67%,
      #b17b32 77%,
      #bb8332 83%,
      #d4a245 88%,
      #e1b453 93%,
      #a4692a 100%
    )
    1;
  background: radial-gradient(
    1086px at 22.1% 96.2%,
    rgb(240, 238, 240) 0%,
    rgb(220, 217, 224) 13%,
    rgb(197, 203, 213) 26%,

    rgb(124, 134, 147) 53.6%
  );
}
.heroText{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-top: 10rem;
  margin-left: 10rem;
  color: white;
}
.heroText h1{
  font-family: "Caveat", cursive;
  font-size: 7rem;
}
.heroText p{
  font-size: 4rem;
}
.heroVid {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(2);
}

.heroLogo {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 5;
  opacity: 0;
  animation: fadeIn 5s ease-in 2.75s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media(max-width: 1520px){
  .heroText{
    margin-top: 5rem;
    margin-left: 5rem;
  }
  .heroText h1{
    font-size: 4rem;
  }
  .heroText p{
    font-size: 2rem;
  }
}
@media (max-width: 555px) {
  .heroText{
    margin: 5rem auto;
    text-shadow: 2px 2px 1px rgba(0, 0, 0);
    backdrop-filter: blur(15px);
  }
  .heroText h1{
    font-size: 2.75rem;
  }
  .heroText p{
    font-size: 2rem;
  }
  .heroLogo {
    bottom: 0;
  }
}